@import "./env";
.container {
  max-width: 1300px;
  margin: 0 auto;
}

ul{
  list-style: none;
}
a{
  color:#313131;
  &.white{
    color:#ffffff;
  }
  &.gray{
    color:$footer_text_color;
  }
  &:hover{
    color:$color_1;
    text-decoration: underline;
  }
}

.ant-btn{
  &.ant-btn-primary{
    background: $color_2;
    border-color: $color_2;
  }
}

hr{
  background: #ffffff;
  box-shadow: none;
  border-bottom: 1px #eeeeee solid;
  border-left: none;
  border-right: none;
  border-top: none;
}